{% extends "base.html" %}
{% block headerItems %}
    <li class="nav-item">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item active">
        <a class="nav-link" href="/faceid">Face ID</a>
    </li>
{% endblock %}

{% block content %}
    <body>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header" style="background-color: #9fcdff">
                        Upload at least twenty photos of the same person's face
                    </div>
                    <div class="card-body">
                        <form method="post" enctype="multipart/form-data">
                            <input type="file" id="imgInp" class="form-control-file" name="zipfile">
                            <p></p>
                            <input class="btn btn-primary mb-2" type="submit">
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top: 20px">
            <div class="col">
                <div class="card">
                    <div class="card-header" style="background-color: #9fcdff">
                        Submitted Models
                    </div>
                    <div class="card-body">
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">Key</th>
                                <th scope="col">Submitted Date</th>
                                <th scope="col">Readiness</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for n in queue %}
                                <tr>
                                    <td>{{ n.get('id') }}</td>
                                    <td>{{ n.get('time') }}</td>
                                    {% if n.get('ready') %}
                                        <td>
                                            <button id="{{'btnUpload-' + n.get('id')}}" value="{{ n.get('id') }}">Image Upload</button>
                                        </td>
                                    {% else %}
                                        <td>
                                            <button type="button" class="btn btn-secondary btn-sm">Not Ready</button>
                                        </td>
                                    {% endif %}

                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <form method="POST" enctype="multipart/form-data" id="fileUploadForm" >
                <input type="file" id="imgupload" name="image" style="display:none"/>
            </form>
        </div>
        <div class="row" style="margin-top: 20px">
            <div class="col">
                <div class="card">
                    <div class="card-header" style="background-color: #9fcdff">
                        Result
                    </div>
                    <div class="card-body">
                        <div id="result">
                    </div>
                </div>
            </div>
        </div>
    </div>
    </body>
{% endblock %}

{% block js_block %}
    $(function(){
        $('#imgupload').on("change", function(){
            // Get form
            var form = $('#fileUploadForm')[0];

            // Create an FormData object
            var data = new FormData(form)

            // process the form
            $.ajax({
                type: "POST",
                enctype: 'multipart/form-data',
                url: "/face_predict",
                data: data,
                processData: false,
                contentType: false,
                cache: false,
            }).done(function(data) {
                    $('#btnSubmit').html('Submit')
                    var message
                    if(data.success === false){
                        message = 'Not able to predict!'
                    }else{
                        message = data.predictions
                    }

                $('#result').html(`<div class="alert alert-info" role="alert">${message}</div>`)

                // here we will handle errors and validation messages
            });
        });
        $("[id^=btnUpload]").each(
            function(){
                $(this).click(function(){
                    $('#imgupload').trigger('click');
                })
            })
    });
{% endblock %}
