{% extends "base.html" %}
{% block headerItems %}
    <li class="nav-item">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item active">
        <a class="nav-link" href="/faceid">Face ID</a>
    </li>
{% endblock %}

{% block content %}
    <body>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header" style="background-color: #9fcdff">
                        Upload at least twenty photos of the same person's face
                    </div>
                    <div class="card-body">
                        <form method="post" enctype="multipart/form-data">
                            <input type="file" id="imgInp" class="form-control-file" name="zipfile">
                            <p></p>
                            <input class="btn btn-primary mb-2" type="submit">
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top: 20px">
            <div class="col-7">
                <div class="card">
                    <div class="card-header" style="background-color: #9fcdff">
                        Submitted Models
                    </div>
                    <div class="card-body">
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">Key</th>
                                <th scope="col">Submitted Date</th>
                                <th scope="col">Readiness</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>1</td>
                                <td>04/21/2018 - 18:01:21</td>
                                <td>
                                    <button type="button" class="btn btn-success btn-sm">Ready</button>
                                </td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>04/22/2018 - 12:20:13</td>
                                <td>
                                    <button type="button" class="btn btn-light btn-sm">Not Ready</button>
                                </td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>04/22/2018 - 12:20:13</td>
                                <td>
                                    <button type="button" class="btn btn-light btn-sm">Not Ready</button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-5">
                <div class="card">
                    <div class="card-header" style="background-color: #9fcdff">
                        Result
                    </div>
                    <div class="card-body">
                        <div class="alert alert-info" role="alert">Wrong person!</div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    </body>
{% endblock %}
